<!DOCTYPE html>
<html lang="es-PE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Mi Lote es una aplicación web que permite obtener los datos urbanísticos de cada lote en la ciudad de Arequipa de manera fácil y rápida.">
  
  <title>Mi Lote | Calculadora</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/neo.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/slider.css">
  <link rel="stylesheet" href="/css/cal.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
  <script src="/js/cal.js" defer></script>
  <script src="/js/printCot.js" defer></script>
</head>

<body>
  <header>
    <a class="logo" href="/">
      <img src="https://cdn.glitch.global/e2546e49-e7f7-451d-a483-b52dadb42ca0/logo_temporal.png?v=1674252546218"
           alt="logo" width="150px">
    </a>
    <div class="burger-btn" onclick="burgerBtn(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <nav>
      <ul class="nav" data-visible="false">
        <li><a href="/mapa">Mapa</a></li>
        <li><a href="/calculadora">Calculadora</a></li>
        <li><a href="#">Documentación</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="hidden">
      <h1>Haz tu presupuesto en segundos</h1>
      <a href="#calculadora">Empieza ahora &gt;</a>
    </article>
    <article class="hidden">
      <h1>¿Cómo funciona?</h1>
      <p>Los precios mostrados aquí corresponden a los Valores Unitarios Oficiales de Edificación publicados en la <a target="_blank"
        href="https://www.gob.pe/institucion/munimala/informes-publicaciones/2843639-valores-unitarios-oficiales-de-edificacion"
        >Resolución Ministerial No. 350-2021</a>. Estas son aproximaciones realizadas por el Ministerio de Vivienda cada año según
        los costos del mercado.</p>
    </article>
    <article class="hidden" id="calculadora">
      <h1>Calculadora de Precios</h1>
      <div id="grid">
        <div id="area">
          Mi lote tiene
          <input type="tel" id="m2" size="2" value={{area}}>
          m<sup>2</sup> de área techada.
        </div>
        <div id="opciones">
          {{#each precios}}
            <div class="opcion oculta" id="{{@index}}" onclick="toggleOpcion('{{@index}}')">
              <img src="https://cdn.glitch.global/0b13a06d-0a08-4c26-8355-bf1bfe0115b1/hormigon.jpg?v=1677788715934">
              <div class="nombre">{{loud @key}}</div>
              <div class="descripcion" id="nombre-{{@index}}">Haga click en una opción</div>
              <div class="precio" id="precio-{{@index}}" PEN="0" USD="0">S/&nbsp;0.00</div>
            </div>
            <div class="subopciones" id="subop-{{@index}}">
              {{#each this}}
                <div class="sub-opcion" option_id="{{@../index}}" onclick="selectSubopcion(this)">
                  <div class="descripcion">{{this.nombre}}</div>
                  <div class="precio" PEN="{{this.PEN}}" USD="{{this.USD}}">S/&nbsp;{{this.PEN}}</div>
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
        <div id="detalles">
          <label class="switch" for="currency" title="Cambiar divisa">
            <input type="checkbox" id="currency">
            <span class="slider">S/</span>
          </label>
          <i class="fa fa-print" aria-hidden="true" title="Imprimir" onclick="printCotizacion()"></i>
          <div id="totales">
            <div><b>Total: </b><span id="total">S/&nbsp;0.00</span></div>
            <div><b>Total x m<sup>2</sup>: </b><span id="totalm2">S/&nbsp;0.00</span></div>
          </div>
        </div>
      </div>
    </article>
  </main>
  <footer>
    © 2022 Mi lote - Glitch version
  </footer>
</body>
</html>
<!-- CSS Scripts -->
<script defer>
  // Navbar burger button toggle on mobile 
  function burgerBtn(btn) {
    btn.classList.toggle("change");

    const primaryNav = document.querySelector(".nav");
    const visibility = primaryNav.getAttribute("data-visible");
    if (visibility === "false") {
      primaryNav.setAttribute("data-visible", "true")
    } else {
      primaryNav.setAttribute("data-visible", "false")
    }
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((e) => observer.observe(e));

</script>