<!DOCTYPE html>
<html lang="es-PE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Mi Lote es una aplicación web que permite obtener los datos urbanísticos de cada lote en la ciudad de Arequipa de manera fácil y rápida.">
  
  <title>Mi Lote | Calculadora</title>

  {{!-- <link
    rel="shortcut icon"
    type="image/x-icon"
    href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
  /> --}}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/neo.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/cal.css">
  <script src="/js/cal.js" defer></script>
</head>

<body>
  <header>
    <a class="logo" href="/">
      <img src="https://cdn.glitch.global/e2546e49-e7f7-451d-a483-b52dadb42ca0/logo_temporal.png?v=1674252546218"
           alt="logo" width="150px">
    </a>
    <div class="burger-btn" onclick="burgerBtn(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <nav>
      <ul class="nav" data-visible="false">
        <li><a href="/mapa">Mapa</a></li>
        <li><a href="/calculadora">Calculadora</a></li>
        <li><a href="#">Documentación</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="hidden">
      <h1>Haz tu presupuesto en segundos</h1>
      <a href="#calculadora">Empieza ahora ></a>
    </article>
    <article class="hidden">
      <h1>¿Cómo funciona?</h1>
      <p>Los precios mostrados aquí corresponden a los Valores Unitarios Oficiales de Edificación publicados en la <a target="_blank"
        href="https://www.gob.pe/institucion/munimala/informes-publicaciones/2843639-valores-unitarios-oficiales-de-edificacion"
        >Resolución Ministerial No. 350-2021</a>. Estas son aproximaciones realizadas por el Ministerio de Vivienda cada año según
        los costos del mercado.</p>
    </article>
    <article class="hidden" id="calculadora">
      <h2>¿Cuántos metros cuadrados tiene tu lote?</h2>
      <div>
        <input type="tel" id="m2" size="2" value={{area}}>
        <span> m<sup>2</sup></span>
      </div>
    </article>
    <article class="hidden" id="selector">
      {{#each precios}}
        <div class="material">
          <div class="categoria oculta" id="cat-{{@index}}"
               onclick="toggleCategoria(this)" tabindex="0">{{loud @key}}</div>
          <div class="opciones">
            {{#each this}}
              <div class="opcion" name="{{@../key}}" onclick="selectOpcion(this)" precio="{{this.soles}}">
                <div class="nombre">{{this.nombre}}</div>
                <div class="precio">S/ {{this.soles}}</div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
      <div id="precios">
        <div><span>Total: </span><span id="total">S/ 0.00</span></div>
        <div><span>Total x m<sup>2</sup>: </span><span id="totalm2">S/ 0.00</span></div>
      </div>
    </article>
  </main>
  <footer>
    © 2022 Mi lote - Glitch version
  </footer>
</body>
</html>
<!-- CSS Scripts -->
<script defer>
  // Navbar burger button toggle on mobile 
  function burgerBtn(btn) {
    btn.classList.toggle("change");

    const primaryNav = document.querySelector(".nav");
    const visibility = primaryNav.getAttribute("data-visible");
    if (visibility === "false") {
      primaryNav.setAttribute("data-visible", "true")
    } else {
      primaryNav.setAttribute("data-visible", "false")
    }
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((e) => observer.observe(e));

</script>